body{
    background-color: #907CE3;
}
.title {
    display: flex; 
    align-items: center; 
    color:azure; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 100px;
    font-size: xx-large;
    color:azure; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create,.play,.organize{
    display: flex;
    justify-content: center;
    border-radius: 100px;
    width: 300px;
    background-color: #1a0b56;
    box-sizing: border-box;
    padding: 10px;
}